body {
    background-color: #c2e490;
}

body h2 {
    color: whitesmoke;
}

li {
    list-style-type: none;

}

.rq {
    color: red;
}

input::placeholder{
    color:#2dbb09
}

li input {
font-size: 15px;
width: 100vh;
height: 50%;
}
li [type="submit"] {
    font-size: 20px;
    width: 100px;
    height: 30px;
    background-color: blue;
    color: rgb(238, 233, 226);
    border: none;
}

li [type="submit"]:hover {
    background-color: rgb(171, 223, 224);
    transition: ease-in-out 3s;
}